:root {
    --brand-color: #2196F3;
    --dark-background-color: #2F303A;
    --light-color:#FFFFFF;
}
body{
    font-family: 'Roboto', 'Raleway', sans-serif;
    color:#212121;
    background-color:var(--light-color);
    position:relative;
}

.container{
    max-width:1200px;
    margin:0 auto;
    padding-left:15px;
    padding-right:15px;
}

.section{
    padding-top:94px;
    padding-bottom:94px;
}
body a{ 
    text-decoration:none;
    color:inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body a:hover,
body a:focus{
    color:var(--brand-color);
}

.portfolio-body{
    background-color: var(--light-color);
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

h2{
    margin:0;
    padding:0;
}

figure{
    margin:0;
    padding:0;
}

button{
    border:0px;
}

.menu-section{
    border-bottom: 1px solid #ECECEC;
}
.main-menu{
    background-color:var(--light-color);
    font-size:14px;
    font-weight:500;
    line-height:1.14;
    letter-spacing:0.02em;
    display:flex;
    align-items:center;
    justify-content:center;
}

nav{
    padding-top:32px;
}

.menu{
    display:flex;
    max-width:254px;
    margin-left:0px;
    padding-top:0px;
    height:48px;
    padding-bottom:0px;
}

.menu-item {
    padding-right: 46px;
}

.menu-item:last-of-type {
    padding-right: 0px;
}

.menu-link {
    padding: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active{
    position:relative;
    top:0px;
    left:0px;
    display:flex;
}

.active::after{
    content:"";
    width:51px;
    position:absolute;
    border-top:4px solid var(--brand-color);
    border-radius:2px;
    top:45px;
}

.logo{
    font-family:'Raleway';
    font-weight: 700;
    font-size:26px;
    line-height:1;
    letter-spacing:0.03em;
    text-align:center;
    margin-left:0px;
    padding-left:0px;
    padding-right:0px;
    margin-right:93px;
    flex-basis:145px;
    padding-top:24px;
    padding-bottom:24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-accent{
    color: var(--brand-color);
}

.contact-link{
    color:#757575;
    display: flex;
    flex-wrap: nowrap;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item {
    padding-right: 30px;
}

.contact-item:last-of-type {
    padding-right: 0px;
}

.contact-icon {
    margin-right: 10px;
}

.contact{
    display:flex;
    flex-wrap:nowrap;
    margin-right:0px;
    padding-right:0px;
    padding-left:0px;
    align-items:center;
    justify-content:center;
    margin-left:345px;
}

.contact-link:hover,
.contact-link:focus{
    fill: var(--brand-color);
}

.banner{
    background-color: var(--dark-background-color);
    display:flex;
    flex-direction:column;
    align-items:center;
    height:600px;
    flex-basis:1600px;
    max-width:1600px;
    margin-left:auto;
    margin-right:auto;
    padding-left:0;
    justify-content:center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/backphoto.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.title{
    font-size:44px;
    font-weight:900;
    line-height:1.36;
    text-align:center;
    letter-spacing:0.06em;
    text-transform: uppercase;
    color: var(--light-color);
    max-width:696px;
    margin:0;
    padding-bottom:30px;
}

.banner-button{
    background-color:var(--brand-color);
    color: var(--light-color);
    font-weight:700;
    font-size:16px;
    line-height:1.88;
    align-items:center;
    text-align:center;
    letter-spacing:0.06em;
    cursor: pointer;
    width:200px;
    flex-basis:50px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius:4px;
    align-items:center;
}


.feature-list{
    display:flex;
    font-size:14px;
    letter-spacing: 0.03em;
}

.feature-item{
    display:flex;
    flex-direction:column;
    min-width:270px;
    max-width:270px;
    margin-right:30px;
    margin-left:0;
    align-items:center;
    justify-content:center;
}

.feature-item:last-of-type{
    margin-right:0;
}

.feature-card{
    display:flex;
    flex-direction:column;
    max-width:270px;
    border-radius:4px;
    align-items:center;
    justify-content:center; 
    background-color: #F5F4FA;
}


.feature-icon {
    margin-top:25px;
    margin-bottom:25px;
    flex-grow:1;
}

.feature-card figcaption{
    background-color: var(--light-color);
}

.feature-name{
    font-weight:700;
    line-height:1.14em;
    text-transform:uppercase; 
    margin-top: 30px;
    margin-bottom: 10px;
}

.feature-description{
    line-height:1.71;
    color:#757575;
}

.services{
    padding-top:0;
}


.section-title{
    font-weight:700;
    font-size:36px;
    line-height:1.17;
    text-align:center;
    letter-spacing:0.03em;
    padding-bottom:50px;
}

.services-list {
    display: flex;
    justify-content: space-between;
}

.services-item{
    margin-right:30px;
    margin-left:0;
    position:relative;
}

.services-item p{
    text-transform: uppercase;
    font-weight:700;
    font-size:14px;
    line-height:16px;
    text-align:center;
    letter-spacing:0.03em;
    margin:0;
    padding-top:27px;
    color: var(--light-color);
}

.services-box{
    position:absolute;
    top:224px;
    left:0;
    width:100%;
    height:70px;
    background-color:rgba(47, 48, 58, 0.8);
}

.services-list:last-child{
    margin-right:0;
}

.team{
    background-color: #F5F4FA;
}


.team-photos{
    display:flex;
    justify-content:space-between;
}


.team-card{
    display:flex;
    flex-direction:column;
    flex-basis: 260px;
    width:270px;
    align-items:space-between;
    background-color: var(--light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right:30px;
    margin-left:0px;
    
}

.team-photos-item:last-child{
    margin-right:0;
}

.team-photo{
    flex-grow:1;
    max-width:270px;
    min-width:270px;
    height:260px;
    margin-right:30px;

}

.team-name{
    font-weight:500;
}

.team-name,
.team-position{
    font-size:16px;
    line-height:1.19;
    text-align:center;
    letter-spacing:0.03em;
}

.team-position{
    color:#757575;
}

.team-social-list{
    display:flex;
    justify-content:center;
    padding-bottom:30px;
}

.team-social-link{
    display:flex;
    width: 44px;
    height: 44px;
    background-color: var(--light-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon{
    fill:#757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.team-social-link:hover,
.team-social-link:focus{
    background-color: var(--brand-color);
    fill: var(--light-color);
}
.team-social-link:hover svg,
.team-social-link:focus svg{
    fill: var(--light-color);
}

.client-list{
    display:flex;
}

.client-item{
    display:flex;
    width:170px;
    height:92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items:center;
    justify-content:center;
    margin-right:30px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:last-child {
    margin-right:0px;
}

.client-item svg{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:hover,
.client-item:focus{
    border: 1px solid var(--brand-color);
}

.client-item:hover svg,
.client-item:focus svg{
    fill:var(--brand-color)
}

footer{
    background-color:var(--dark-background-color);
    font-size:14px;
    line-height:1.71;
    letter-spacing:0.03em;
    color: var(--light-color);
    height:252px;
}

.footer-section{
    display:flex;
}
.address-section{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top:60px;
    padding-bottom:20px;
    display:flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address{
    width:246px;
    height:81px;
    display:flex;
    flex-direction:column;
}

.address-item{
    margin-bottom:9px;
    display:inline-block;
}


.address-tel,
.address-mail{
    color:rgba(255, 255, 255, 0.6);
    display:block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-tel:hover,
.address-tel:focus,
.address-mail:focus,
.address-mail:hover{
    color:var(--brand-color);
}

.footer-social{
    padding-left:70px;
    padding-top:72px;
    display:flex;
    flex-direction:column;
}

.footer-social-title{
    margin-top:0;
}

.footer-social-list{
    display:flex;
    justify-content: center;
    flex-direction:row;
    align-items:center;
    
}

.footer-social-link{
    display:flex;
    background-color:rgba(255, 255, 255, 0.1);
    width:44px;
    height:44px;
    border-radius:50%;
    align-items: center;
    justify-content: center;
    margin-right:10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon{
    fill:var(--light-color);
    
}

.footer-social-link:hover,
.footer-social-link:focus{
    background-color:var(--brand-color);
}


.footer-social-title{
    font-weight:700;
    font-size:14px;
    line-height:1.14;
    letter-spacing:0.03em;
    text-transform:uppercase;
    color: var(--light-color);
    margin-bottom:0px;
    padding-bottom:32px;
}

.filters{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}

.filters-item{
    margin-right: 8px;
    margin-left:0;
    margin-top:0;
    margin-bottom:0;
    padding-bottom:34px;
}

.filters-item:last-child{
    margin-right:0;
}

.button{
 background-color:#F5F4FA;
 color:#212121;
 font-weight:500;
 line-height:1.62;
 align-items:center;
 text-align:center;
 cursor: pointer;
 width:121px;
 height:38px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus{
    background-color: var(--brand-color);
    color: var(--light-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
    font-size: 16px;
    letter-spacing: 0.03em;
}

.project-list{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-left:0;
    margin-top:0px;
}

.project-item{
    flex-basis:calc(100%/3-30px);
    margin-top:0px;
    margin-left:0px;
    margin-bottom:30px;
    
}

.project-card{
    display:flex;
    flex-direction:column;
    flex-basis:404px;
    max-width:370px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover,
.project-card:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item:nth-child(3n+1),
.project-item:nth-child(3n+2),
.project-item:not(:nth-child(3n)) {
    margin-left: 0;
    margin-right:30px;
}

.project-item:nth-child(7),
.project-item:nth-child(8),
.project-item:nth-child(9){
    margin-bottom:0px;
}

.project-item figcaption{
    padding: 20px 24px;
    border:1px solid #EEEEEE;
}
.project-name{
    font-weight:700;
    font-size:18px;
    line-height:2;
    letter-spacing:0.06em;
    margin-top:0;
    margin-bottom:4px;
}

.project-kind{
    line-height:1.88;
    color:#757575;
    margin:0;
}

.box{
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    z-index:1;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:294px;;
    background-color:rgba(33, 150, 243, 0.9);
    transform:translateY(100%);
    transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin:0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--light-color);
    padding:49px 45px 49px 24px;
}

.box:hover .overlay{
    transform:translateY(0%);
}

.project-description{
    z-index:2;
    background-color: var(--light-color);
}

.modal{
    position: sticky;
    width: 528px;
    height: 581px;
    left: 50%;
    top: 221px;
    transform:translateX(-50%);
    background: var(--light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height:30px;
    border-radius:50%;
    transform: translate(490px,8px);
}

.backdrop{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.2);
    
}
.is-hidden{
    opacity:0;
    visibility:hidden;
    pointer-events:none;
}

.is-hidden .modal{
    transform:translate(100%);
}